* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-serif;
    background-color: #ccc;
}

.container{
    background-color: rgb(0, 76, 255);
    color: white;
    display: flex;
    justify-content: space-between;
}

.container h1{
    background-color: rgb(0, 76, 255);
    width: 25%;
    padding: 5%;
}

.container nav{
    margin-top: 40px;
    margin-right: 40px;
    background-color: rgb(0, 76, 255);

}

.container li{
    background-color: rgb(0, 76, 255);

}

.menu{
    list-style: none;;
}

.menu a{
    color: white;
    text-decoration: none;
    background-color: rgb(0, 76, 255);

} 

.conteudo{
    background-color: #ccc;
}

.sobre{
    margin: 10px;
}

.sobre img{
   width: 100%;
   padding: 5%;
    
}

.sobre h2{
    color: rgb(0, 128, 255);
    padding: 2%;
    border-bottom: 3px solid;
    margin-bottom: 8px;
}

.sobre p{
    font-weight: 200;
    font-size: 0.8em;
}

.produtos{
    margin: 10px;
}

.produtos h2{
    color: rgb(0, 128, 255);
    padding: 2%;
    border-bottom: 3px solid;
    margin-bottom: 8px;
}

.lista-produtos img{
    width: 100%;
    padding: 5%;
    margin-top: 8px;
}

.lista-produtos p{
    font-weight: 200;
    font-size: 0.8em;
    margin: 8px 0;
}

.lista-produtos button{
    margin-left: 10%;
    margin-top: 8px;
    width: 80%;
    height: 35px;
    color: white;
    font-weight: 700;
    background-color: rgb(0, 128, 255);
    border-radius: 6px;
}

@media screen and (min-width: 641px) and (max-width: 1023px){
    
    .container{
        align-items: center;
        
    }

    .container h1{
        width: 50%;
    }

    .lista-produtos{
        display: grid;
        grid-template-columns: 50% 50%;
        list-style: none;
    }

    .lista-produtos p, h3{
        margin-left: 24px;
    }

    .conteudo{
        margin: 0 15%;
    }


}

@media screen and (min-width: 1024px){
    .container{
        align-items: center;
        
    }

    .container h1{
        width: 50%;
    }

    .lista-produtos{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        list-style: none;
    }

    .lista-produtos p, h3{
        margin-left: 24px;
    }

    .conteudo{
        margin: 0 15%;
    }

    .sobre{
        display: grid;
        grid-template-columns: 50% 50%;
    }

}

